@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), url("../fonts/OpenSansRegular.woff2"), url("../fonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), url("../fonts/OpenSansSemiBold.woff2"), url("../fonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), url("../fonts/OpenSansBold.woff2"), url("../fonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), url("../fonts/PlayfairDisplayBlack.woff2"), url("../fonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.one-click-buy-button {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.one-click-buy-button-active {
  display: block;
}

.one-click-buy-button-content {
  position: relative;
  margin: 0 auto;
  margin-top: 180px;
  padding: 30px;
  width: 564px;
  height: 361px;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.one-click-buy-button-content-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  z-index: 100;
}
.one-click-buy-button-content-close:focus {
  background-color: #EBD1FF;
}
.one-click-buy-button-content-close:focus .modal-close-icon {
  fill: #7033AC;
}

.one-click-buy-button-content-title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 94%;
  color: #333333;
}

.one-click-buy-button-content-descr {
  margin-bottom: 30px;
  width: 374px;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.one-click-buy-button-form {
  flex-direction: column;
}

.form-input-name, .form-input-tel {
  margin-bottom: 30px;
  padding: 0 18px;
  border: none;
  width: auto;
  height: 54px;
  border-radius: 10px;
  outline: none;
}
.form-input-name:focus, .form-input-tel:focus {
  border: 2px solid #A65CF0;
}
.form-input-name:hover, .form-input-tel:hover {
  background-color: #EAEAEA;
}

.modal-form-btn {
  margin-bottom: 12px;
  padding: 19px 35px;
  width: 159px;
  height: 54px;
}

.modal-check-box {
  margin-left: 5px;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.modal-check-box::before {
  width: 13px;
  height: 14px;
  top: 3px;
}

@media (max-width: 1024px) {
  .one-click-buy-button-content {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .one-click-buy-button-content {
    margin-top: 184px;
  }
}
@media (max-width: 499px) {
  .one-click-buy-button-content {
    position: relative;
    padding: 30px 10px 30px 16px;
    margin: 0 auto;
    margin-top: 260px;
    width: 296px;
    height: 327px;
  }
  .one-click-buy-button-content-close {
    top: 14px;
    right: 15px;
    width: 14px;
    height: 16px;
  }
  .one-click-buy-button-content-title {
    font-size: 24px;
    line-height: 100%;
  }
  .one-click-buy-button-content-descr {
    margin-bottom: 14px;
    width: 250px;
  }
  .form-input-name, .form-input-tel {
    margin-bottom: 16px;
  }
  .modal-user-private {
    width: 280px;
    display: flex;
    align-items: center;
  }
  .modal-check-box, .user-private {
    margin-left: 2px;
    font-size: 12px;
    line-height: 16px;
  }
  .modal-check-box::before {
    width: 13px;
    height: 14px;
    top: 0px;
  }
}/*# sourceMappingURL=buy-modal.css.map */