// site colors
$color-primary: #A65CF0;
$color-primary-ligth: #C998FB;
$color-primary-shade: #7033AC;
$color-secondary: #FF862F;
$color-secondary-light: #FFBD59;
$color-secondary-shade: #BB370E;
$color-pink-light: #F8EFFF;
$color-pink-violet: #EBD1FF;
$color-red-input: #FF6972;
$color-green-input: #B8EC64;
$color-gold: #D5B986;
$color-white: #FFFFFF;
$color-grey: #999999;
$color-grey-light: #F7F7F7;
$color-gray-shade: #666666;
$color-md-grey: #EAEAEA;
$color-black: #333333;
$color-modal-bcground: rgba(0, 0, 0, 0.3);
$color-lime: #DAFFD1;
$color-bone: #FFF5D1;
// site guttters
$gutter-main: 70px;
$gutter-second: 32px;
$category-card-gutter: 30px;
$gutter-title: 26px;
// font sizes
$main-size: 16px;
$exclusive: 60px;
$text-offer: 51px;
$text-offer-320: 20px;
$exclusive-descr: 48px;
$product-price: 36px;
$title: 32px;
$subtitle: 24px;
$new-price: 18px;
$text-descr: 14px;
$text-descr-320: 10px;
// font waight
$black: 900;
$bold: 700;
$semibold: 600;
$regular: 400;
// height
$main-hight: 60px;
$sub-hight: 54px;
$hight-320: 40px;
//  z-index
$zindex-modal: 100;
$zindex-custom-item: 50;
$zindex-btn: 3;
$zindex-link: 2;