@import '_fonts.scss';
@import '_variables.scss';
.header {
	width: 1280px;
	flex-direction: column;
	padding-top: 15px;
}
// header top navigation
.header__top {
	width: 100%;
	height: 50px;
	margin-bottom: 17px;
}
.region {
	width: 179px;
	height: 30px;
	margin-right: $gutter-second;
	padding-top: 2px;
}
.region-label {
	width: 229px;
	line-height: 120%;
	color: $color-black;
	margin-right: 5px;
}

.choices {
  overflow-y: hidden;
  width: 100%;
  height: 21px;
  background-color: transparent;
	line-height: 120%;	
	background-image: url("../img/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: right 6px;
	z-index: 10;
	transition: background-color .3s ease-in-out;
	&:focus {
		outline: none;
		background-color: $color-pink-violet;
	}
	&:active {
		outline: none;
		background-color: transparent;
		color: $color-primary-shade;
	}
}
.choices__inner {
	height: 30px;
	margin-bottom: 5px;
  outline: none;
}
.choices__list--dropdown, .choices__list {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 70%;
	height: 172px;
}
.choices__list {
	outline: none;
	font-size: $text-descr;
	line-height: 130%;
}
.choices__list--dropdown {
	padding-left: 32px;
	margin-left: -32px;
	width: 100%;
	background-color: $color-white;
	border-radius: 10px;
	z-index: 10;
}
.choices__item {
  cursor: pointer;
}
.choices__item:not(:last-child) {
	margin-right: 20px;
	margin-bottom: 6px;
}
.choices__item--selectable {
	height: 25px;
}
.is-open {
	overflow: visible;
	background-image: url("../img/arrow-up.svg");
	background-position: right 6px;
	background-repeat: no-repeat;
}
.choices__list--single {
	font-size: $main-size;
	color: $color-primary;
	transition: color .3s ease-in-out;
	&:hover {
		color: $color-primary-ligth;	
	}
	&:active {
		background-color: transparent;
		color: $color-primary-shade;
	}
}

.title {
  display: none;
}
.choices__item--disabled {
  display: none;
}

.phone-icon {
	width: 17px;
	height: 22px;
	margin-right: 2px;
	fill: $color-secondary;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, fill .3s ease-in-out;
}
.phone-link {
	height: 20px;
	display: flex;
	align-items: center;
	margin-right: auto;
	font-size: $text-descr;
	line-height: 100%;
	color: $color-secondary;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, fill .3s ease-in-out;
	&:focus {
		background-color: $color-bone;
	}
	&:focus .phone-icon {
		background-color: $color-bone;
	}
	&:hover {
		color: $color-secondary-light;
	}
	&:hover .phone-icon {
		fill: $color-secondary-light;
	}
	&:active {
		background-color: transparent;
		color: $color-secondary-shade;
	}
	&:active .phone-icon {
		background-color: transparent;
		fill: $color-secondary-shade;
	}
}
.top-list {
	align-items: center;

}
.top-item {
	&:focus {
		color: $color-primary-shade;
		background-color: $color-primary-ligth;
	}
	&:active {
		background-color: none;
	}
}
.top-item:not(:last-child) {
	margin-right: 64px;
}
.top-link {
	font-size: $text-descr;
	line-height: 100%;
	color: $color-grey;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
	&:focus {
		background-color: $color-pink-violet;
		color: $color-primary-shade;
	}
	&:hover {
		color: $color-primary;
	}
	&:active {
		background-color: transparent;
		color: $color-primary-shade;
	}
}


// header middle navigation

.header__middle {
	height: 27px;
	align-items: flex-end;
	padding-right: 5px;
	margin-bottom: $gutter-second;
}

.burger, .burger-close-btn, .burger-logo {
	display: none;
}

.header-logo-link {
	margin-right: auto;
}
.header-logo {
	margin-right: auto;
}
.middle-list {
	padding-bottom: 3px;
}
.middle-item:not(:last-child) {
	margin-right: 91px;
}
.middle-link {
	line-height: 22px;
	color: $color-black;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
	&:focus {
		color: $color-black;
		background-color: $color-pink-violet;
	}
	&:hover {
		color: $color-primary;
	}
	&:active {
		background-color: transparent;
		color: $color-primary-shade;
	}
}

// bottom navigation
.header-search {
	position: relative;
	width: 761px;
	height: $main-hight;
	border: none;
	border-radius: 10px 0 0 10px;
}

.search-input {
	width: 695px;
	padding-left: 60px;
	border-radius: 10px 0 0 10px;
	outline: none;
	border: none;
	line-height: 118%;
	color: $color-black;
	&::placeholder {
		color: $color-grey;
	}
	&:focus {
		border: 2px solid $color-primary;
	}
	&:hover {
		background-color: $color-md-grey;
	}
	&:focus, .search-icon {
		fill: $color-primary;
	}

}
.search-icon	{
	position: absolute;
	top: 21px;
	left: 33px;
	width: 17px;
	height: 17px;
	fill: $color-grey;
}

.search-btn {
	position: absolute;
	right: 0;
	margin-top: 14px;
	margin-right: 32px;
	width: $gutter-second;
	height: $gutter-second;
	outline: none;
	background-color: transparent;
	&:focus {
		outline: none;
		border: none;
		background-image: url("../img/arrow-next-focus.svg");
	}
	&:hover {
		background-image: url("../img/arrow-next-hover.svg");
	}
	&:active {
		background-image: url("../img/arrow-next-active.svg");
	}
}

.category {
	display: flex;
	align-items: center;
	padding: 20px 30px;
	width: 237px;
	height:19px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: auto;
	outline: none;
}

.login-btn {
	margin-top: 13px;
	margin-right: 28px;
	padding: 3px;
	width: 35px;
	height: 35px;
	background-color: transparent;
	transition: fill .3s ease-in-out, background-color .3s ease-in-out;
		&:focus {
			background-color: $color-primary-ligth;
		}
		&:focus .user-icon {
			fill: $color-white;
		}
		&:active {
			background-color: transparent;
		}
		&:active .user-icon {
			background-color: transparent;
			fill: $color-primary-shade;
		}
}

.user-icon {
	width: 26px;
	height: 28px;
	fill: $color-primary;
	transition: fill .3s ease-in-out, background-color .3s ease-in-out;
	&:hover {
		fill: $color-primary-ligth;
	}
	&:active {
		background-color: transparent;
		fill: $color-primary-shade;
	}
}

.bucket-btn {
	margin-top: 15px;
	width: 43px;
	height: 31px;
	background-color: transparent;
	transition: fill .3s ease-in-out, background-color .3s ease-in-out;
	&:focus {
		background-color: $color-primary-ligth;
	}
	&:focus .bucket-icon {
		fill: $color-white;
	}
	&:active {
		background-color: transparent;
	}
	&:active .bucket-icon {
		background-color: none;
		fill: $color-primary-shade;
	}
}
.bucket-icon {
	width: 41px;
	height: 31px;
	fill: $color-primary;
	transition: fill .3s ease-in-out, background-color .3s ease-in-out;

	&:hover {
		fill: $color-primary-ligth;
	}
	&:active {
		background-color: transparent;
		fill: $color-primary-shade;
	}
}

@media (max-width: 1024px) {
	.header {
		position: relative;
		padding: 18px 36px 0 36px;
	}
	// top navigation
	.header__top {
		width: 100%;	
		flex-wrap: wrap;
		height: 74px;
		margin-bottom: 46px;
	}
	.region {
		margin-right: auto;
	}
	.phone-link {
		margin: 0;
	}
	.top-nav {
		margin-top: 25px;
	}
	// middle-navigation
	.header__middle {
		padding-right: 2px;
		margin-bottom: 35px;
	}
	.header-logo-link {
		margin-right: auto;
	}
	.header-logo {
		width: 187px;
		height: 25px;
	}
	.middle-item:not(:last-child) {
		margin-right: 41px;
	}
// bottom navigation
	.header-search {
		width: 653px;
	}
	.login-btn {
		position: absolute;
		top: 67px;
		right: 102px;
		margin: 0;
	}
	.bucket-btn {
		position: absolute;
		top: 54px;
		right: 32px;
	}
}

@media (max-width: 768px) {
	.header {
    position: relative;
    padding: 20px 72px 0;
	}
	// top navigation
	.top-nav {
		margin-top: 20px;
	}
	.top-item:not(:last-child) {
		margin-right: 36px;
	}
// middle navigation
	.burger {
		display: block;
		width: 24px;
		height: 24px;
		padding-left: 1px;
		margin-right: 194px;
		position: relative;
		background-color: transparent;
		cursor: pointer;
		z-index: 2;
		border: none;
		&:focus {
			outline-offset: 5px;
			outline: 2px solid $color-primary;
		}
	}
	.burger--active {
		display: block;
		visibility: visible;
	}

	.burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 3px;
    background-color: $color-primary;
		&:hover {
			background-color: $color-primary-ligth;
		}
  }
	.burger__line:nth-child(1) {
    top: 20px;
  }
  .burger__line:nth-child(2) {
    top: 10px;
  }
  .burger__line:nth-child(3) {
    top: 0px;
  }
	.burger-close-btn {
		display: block;
		position: absolute;
		top: 32px;
		left: 72px;
		width: 35px;
		height: 35px;
		z-index: $zindex-modal;
		background-color: transparent;
	}
	.burger-close-icon {
		width: 24px;
		height: 24px;
	}
	.middle-nav {
		display: none;
		position: absolute;
		padding: 0 72px;
		top: 110px;
		left: 0;
		width: 628px;
		height: 300px;
		background-color: $color-white;
		z-index: $zindex-modal;
	}
	.middle-nav--active {
		display: block;
		visibility: visible;
	}
	.middle-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding-top: 120px;
		width: 30%;
		height: 148px;
	}
	.middle-item:not(:nth-child(3n)) {
		margin-bottom: 30px;
	}
	.burger-logo {
		display: block;
		position: absolute;
		bottom: 62px;
		right: 72px;
		width: 161px;
		height: 112px;
		fill: $color-grey;
		opacity: .3;
	}

	.header-logo {
		margin-right: 0;
	}
	// bottom navigation
	.search-input {
		width: 374px;
	}

	.choices__list, .choices__list--dropdown {
    flex-wrap: nowrap;
    width: 88%;
		height: auto;
	}
	.choices__list--dropdown {
		width: 100%;
		padding-bottom: 25px;
	}
	.choices__item:not(:last-child) {
		margin-bottom: 15px;
	}
	.login-btn {
		top: 137px;
		right: 145px;
		margin: 0;
	}
	.bucket-btn {
		top: 125px;
		right: 76px;
	}
}

@media(max-width: 499px) {
	.header {
    position: relative;
    min-width: 296px;
    width: auto;
    padding: 12px 12px 0;;
    margin: 0 auto;
	}
	.header-logo {
		position: absolute;
		top: 12px;
		left: 21%;
	}
	.choices__list {
    flex-wrap: wrap;
    width: 80%;
		height: 200px;
	}
	.choices__list--dropdown {
		flex-wrap: wrap;
		width: 100%;
		height: 172px;
	}
	.header__top {
		margin-top: 57px;
		height: 66px;
		margin-bottom: 19px;
	}
	.region {
		margin-right: auto;
	}
	.phone-icon {
    width: 21px;
    height: 21px;
	}
	.top-nav {
		display: none;
		visibility: hidden;
		position: absolute;
		padding-left: 12px;
		left: 0;
		bottom: -260px;
		width: 308px;
		height: 108px;
		z-index: $zindex-modal;
		background-color: $color-white;
	}
	.top-nav-active {
		display: block;
		visibility: visible;
	}
	.top-list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 10px;
		transition: color .3s ease-in-out;
	}
	.top-item {
		width: 135px;
	}
	.top-item:not(:last-child) {
    margin-right: 16px;
		margin-bottom: 20px;
	}

	.burger-close-btn {
		top: 4px;
		left: 12px;
	}
	.middle-nav {
		padding-left: 12px;
		top: 152px;
		left: 0;
		width: 236px;
		height: 347px;
	}
	.middle-list {
		padding-top: 50px;
		flex-wrap: nowrap;
		width: 100%;
		height: 282px;
	}
	.middle-item:not(:last-child) {
		margin-bottom: 30px;
	}

	.burger-logo {
		display: none;
	}

	.header__middle {
		margin-bottom: 29px;
	}
	.header__bottom {
		flex-wrap: wrap;
	}
	.header-search {
		margin-bottom: 16px;
	}
	.search-input {
		min-width: 170px;
		width: 100%;
	}
	.category {
		min-width: 233px;
		width: 100%;
		margin: 0;
	}
	.login-btn {
    top: 151px;
    right: 81px;
	}
	.bucket-btn {
    top: 137px;
    right: 11px;
	}
}