@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), url("../fonts/OpenSansRegular.woff2"), url("../fonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), url("../fonts/OpenSansSemiBold.woff2"), url("../fonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), url("../fonts/OpenSansBold.woff2"), url("../fonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), url("../fonts/PlayfairDisplayBlack.woff2"), url("../fonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.header {
  width: 1280px;
  flex-direction: column;
  padding-top: 15px;
}

.header__top {
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
}

.region {
  width: 179px;
  height: 30px;
  margin-right: 32px;
  padding-top: 2px;
}

.region-label {
  width: 229px;
  line-height: 120%;
  color: #333333;
  margin-right: 5px;
}

.choices {
  overflow-y: hidden;
  width: 100%;
  height: 21px;
  background-color: transparent;
  line-height: 120%;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 6px;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}
.choices:focus {
  outline: none;
  background-color: #EBD1FF;
}
.choices:active {
  outline: none;
  background-color: transparent;
  color: #7033AC;
}

.choices__inner {
  height: 30px;
  margin-bottom: 5px;
  outline: none;
}

.choices__list--dropdown, .choices__list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  height: 172px;
}

.choices__list {
  outline: none;
  font-size: 14px;
  line-height: 130%;
}

.choices__list--dropdown {
  padding-left: 32px;
  margin-left: -32px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 10;
}

.choices__item {
  cursor: pointer;
}

.choices__item:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 6px;
}

.choices__item--selectable {
  height: 25px;
}

.is-open {
  overflow: visible;
  background-image: url("../img/arrow-up.svg");
  background-position: right 6px;
  background-repeat: no-repeat;
}

.choices__list--single {
  font-size: 16px;
  color: #A65CF0;
  transition: color 0.3s ease-in-out;
}
.choices__list--single:hover {
  color: #C998FB;
}
.choices__list--single:active {
  background-color: transparent;
  color: #7033AC;
}

.title {
  display: none;
}

.choices__item--disabled {
  display: none;
}

.phone-icon {
  width: 17px;
  height: 22px;
  margin-right: 2px;
  fill: #FF862F;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.phone-link {
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 14px;
  line-height: 100%;
  color: #FF862F;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
}
.phone-link:focus {
  background-color: #FFF5D1;
}
.phone-link:focus .phone-icon {
  background-color: #FFF5D1;
}
.phone-link:hover {
  color: #FFBD59;
}
.phone-link:hover .phone-icon {
  fill: #FFBD59;
}
.phone-link:active {
  background-color: transparent;
  color: #BB370E;
}
.phone-link:active .phone-icon {
  background-color: transparent;
  fill: #BB370E;
}

.top-list {
  align-items: center;
}

.top-item:focus {
  color: #7033AC;
  background-color: #C998FB;
}
.top-item:active {
  background-color: none;
}

.top-item:not(:last-child) {
  margin-right: 64px;
}

.top-link {
  font-size: 14px;
  line-height: 100%;
  color: #999999;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.top-link:focus {
  background-color: #EBD1FF;
  color: #7033AC;
}
.top-link:hover {
  color: #A65CF0;
}
.top-link:active {
  background-color: transparent;
  color: #7033AC;
}

.header__middle {
  height: 27px;
  align-items: flex-end;
  padding-right: 5px;
  margin-bottom: 32px;
}

.burger, .burger-close-btn, .burger-logo {
  display: none;
}

.header-logo-link {
  margin-right: auto;
}

.header-logo {
  margin-right: auto;
}

.middle-list {
  padding-bottom: 3px;
}

.middle-item:not(:last-child) {
  margin-right: 91px;
}

.middle-link {
  line-height: 22px;
  color: #333333;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.middle-link:focus {
  color: #333333;
  background-color: #EBD1FF;
}
.middle-link:hover {
  color: #A65CF0;
}
.middle-link:active {
  background-color: transparent;
  color: #7033AC;
}

.header-search {
  position: relative;
  width: 761px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.search-input {
  width: 695px;
  padding-left: 60px;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
  line-height: 118%;
  color: #333333;
}
.search-input::-moz-placeholder {
  color: #999999;
}
.search-input:-ms-input-placeholder {
  color: #999999;
}
.search-input::placeholder {
  color: #999999;
}
.search-input:focus {
  border: 2px solid #A65CF0;
}
.search-input:hover {
  background-color: #EAEAEA;
}
.search-input:focus, .search-input .search-icon {
  fill: #A65CF0;
}

.search-icon {
  position: absolute;
  top: 21px;
  left: 33px;
  width: 17px;
  height: 17px;
  fill: #999999;
}

.search-btn {
  position: absolute;
  right: 0;
  margin-top: 14px;
  margin-right: 32px;
  width: 32px;
  height: 32px;
  outline: none;
  background-color: transparent;
}
.search-btn:focus {
  outline: none;
  border: none;
  background-image: url("../img/arrow-next-focus.svg");
}
.search-btn:hover {
  background-image: url("../img/arrow-next-hover.svg");
}
.search-btn:active {
  background-image: url("../img/arrow-next-active.svg");
}

.category {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  width: 237px;
  height: 19px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: auto;
  outline: none;
}

.login-btn {
  margin-top: 13px;
  margin-right: 28px;
  padding: 3px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  transition: fill 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.login-btn:focus {
  background-color: #C998FB;
}
.login-btn:focus .user-icon {
  fill: #FFFFFF;
}
.login-btn:active {
  background-color: transparent;
}
.login-btn:active .user-icon {
  background-color: transparent;
  fill: #7033AC;
}

.user-icon {
  width: 26px;
  height: 28px;
  fill: #A65CF0;
  transition: fill 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.user-icon:hover {
  fill: #C998FB;
}
.user-icon:active {
  background-color: transparent;
  fill: #7033AC;
}

.bucket-btn {
  margin-top: 15px;
  width: 43px;
  height: 31px;
  background-color: transparent;
  transition: fill 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.bucket-btn:focus {
  background-color: #C998FB;
}
.bucket-btn:focus .bucket-icon {
  fill: #FFFFFF;
}
.bucket-btn:active {
  background-color: transparent;
}
.bucket-btn:active .bucket-icon {
  background-color: none;
  fill: #7033AC;
}

.bucket-icon {
  width: 41px;
  height: 31px;
  fill: #A65CF0;
  transition: fill 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.bucket-icon:hover {
  fill: #C998FB;
}
.bucket-icon:active {
  background-color: transparent;
  fill: #7033AC;
}

@media (max-width: 1024px) {
  .header {
    position: relative;
    padding: 18px 36px 0 36px;
  }
  .header__top {
    width: 100%;
    flex-wrap: wrap;
    height: 74px;
    margin-bottom: 46px;
  }
  .region {
    margin-right: auto;
  }
  .phone-link {
    margin: 0;
  }
  .top-nav {
    margin-top: 25px;
  }
  .header__middle {
    padding-right: 2px;
    margin-bottom: 35px;
  }
  .header-logo-link {
    margin-right: auto;
  }
  .header-logo {
    width: 187px;
    height: 25px;
  }
  .middle-item:not(:last-child) {
    margin-right: 41px;
  }
  .header-search {
    width: 653px;
  }
  .login-btn {
    position: absolute;
    top: 67px;
    right: 102px;
    margin: 0;
  }
  .bucket-btn {
    position: absolute;
    top: 54px;
    right: 32px;
  }
}
@media (max-width: 768px) {
  .header {
    position: relative;
    padding: 20px 72px 0;
  }
  .top-nav {
    margin-top: 20px;
  }
  .top-item:not(:last-child) {
    margin-right: 36px;
  }
  .burger {
    display: block;
    width: 24px;
    height: 24px;
    padding-left: 1px;
    margin-right: 194px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    border: none;
  }
  .burger:focus {
    outline-offset: 5px;
    outline: 2px solid #A65CF0;
  }
  .burger--active {
    display: block;
    visibility: visible;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 3px;
    background-color: #A65CF0;
  }
  .burger__line:hover {
    background-color: #C998FB;
  }
  .burger__line:nth-child(1) {
    top: 20px;
  }
  .burger__line:nth-child(2) {
    top: 10px;
  }
  .burger__line:nth-child(3) {
    top: 0px;
  }
  .burger-close-btn {
    display: block;
    position: absolute;
    top: 32px;
    left: 72px;
    width: 35px;
    height: 35px;
    z-index: 100;
    background-color: transparent;
  }
  .burger-close-icon {
    width: 24px;
    height: 24px;
  }
  .middle-nav {
    display: none;
    position: absolute;
    padding: 0 72px;
    top: 110px;
    left: 0;
    width: 628px;
    height: 300px;
    background-color: #FFFFFF;
    z-index: 100;
  }
  .middle-nav--active {
    display: block;
    visibility: visible;
  }
  .middle-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 120px;
    width: 30%;
    height: 148px;
  }
  .middle-item:not(:nth-child(3n)) {
    margin-bottom: 30px;
  }
  .burger-logo {
    display: block;
    position: absolute;
    bottom: 62px;
    right: 72px;
    width: 161px;
    height: 112px;
    fill: #999999;
    opacity: 0.3;
  }
  .header-logo {
    margin-right: 0;
  }
  .search-input {
    width: 374px;
  }
  .choices__list, .choices__list--dropdown {
    flex-wrap: nowrap;
    width: 88%;
    height: auto;
  }
  .choices__list--dropdown {
    width: 100%;
    padding-bottom: 25px;
  }
  .choices__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .login-btn {
    top: 137px;
    right: 145px;
    margin: 0;
  }
  .bucket-btn {
    top: 125px;
    right: 76px;
  }
}
@media (max-width: 499px) {
  .header {
    position: relative;
    min-width: 296px;
    width: auto;
    padding: 12px 12px 0;
    margin: 0 auto;
  }
  .header-logo {
    position: absolute;
    top: 12px;
    left: 21%;
  }
  .choices__list {
    flex-wrap: wrap;
    width: 80%;
    height: 200px;
  }
  .choices__list--dropdown {
    flex-wrap: wrap;
    width: 100%;
    height: 172px;
  }
  .header__top {
    margin-top: 57px;
    height: 66px;
    margin-bottom: 19px;
  }
  .region {
    margin-right: auto;
  }
  .phone-icon {
    width: 21px;
    height: 21px;
  }
  .top-nav {
    display: none;
    visibility: hidden;
    position: absolute;
    padding-left: 12px;
    left: 0;
    bottom: -260px;
    width: 308px;
    height: 108px;
    z-index: 100;
    background-color: #FFFFFF;
  }
  .top-nav-active {
    display: block;
    visibility: visible;
  }
  .top-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    transition: color 0.3s ease-in-out;
  }
  .top-item {
    width: 135px;
  }
  .top-item:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 20px;
  }
  .burger-close-btn {
    top: 4px;
    left: 12px;
  }
  .middle-nav {
    padding-left: 12px;
    top: 152px;
    left: 0;
    width: 236px;
    height: 347px;
  }
  .middle-list {
    padding-top: 50px;
    flex-wrap: nowrap;
    width: 100%;
    height: 282px;
  }
  .middle-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .burger-logo {
    display: none;
  }
  .header__middle {
    margin-bottom: 29px;
  }
  .header__bottom {
    flex-wrap: wrap;
  }
  .header-search {
    margin-bottom: 16px;
  }
  .search-input {
    min-width: 170px;
    width: 100%;
  }
  .category {
    min-width: 233px;
    width: 100%;
    margin: 0;
  }
  .login-btn {
    top: 151px;
    right: 81px;
  }
  .bucket-btn {
    top: 137px;
    right: 11px;
  }
}/*# sourceMappingURL=header.css.map */