@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), url("fonts/OpenSansRegular.woff2"), url("fonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), url("fonts/OpenSansSemiBold.woff2"), url("fonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), url("fonts/OpenSansBold.woff2"), url("fonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), url("fonts/PlayfairDisplayBlack.woff2"), url("fonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.catalogue {
  padding-top: 20px;
  margin-bottom: 53px;
  position: relative;
  flex-wrap: wrap;
  width: 1280px;
}

.catalogue__title {
  position: absolute;
  top: 70px;
  left: 328px;
}

.aside {
  width: 296px;
  margin-right: 32px;
}

.filter {
  height: 961px;
  margin-bottom: 57px;
}

.catalog-swiper {
  width: 952px;
  height: 1459px;
}

.catalog-swiper-wrapper {
  padding-top: 53px;
}

.catalog-swiper-slide {
  width: 296px !important;
  height: 420px !important;
}

.catalogue__paginate {
  height: 40px;
}

.swiper-pagination-bullet {
  text-align: center;
  padding: 6px;
  margin: 0 8px !important;
  width: 16px;
  height: 18px;
  border-radius: 9px;
  text-align: center;
  font-weight: 600;
  line-height: 100%;
  border: 2px solid #A65CF0;
  background-color: transparent;
  color: #A65CF0;
  opacity: 1 !important;
  cursor: pointer;
  transition: color 0.3s ease-in-out, bsckground-color 0.3s ease-in-out;
}
.swiper-pagination-bullet:focus {
  background-color: #C998FB;
  color: #FFFFFF;
}
.swiper-pagination-bullet:hover {
  background-color: #A65CF0;
  color: #FFFFFF;
}

.swiper-pagination-bullet-active {
  border: 2px solid #7033AC;
  background-color: #7033AC;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .catalogue {
    width: 1024px;
    margin-bottom: 56px;
  }
  .banner {
    display: none;
  }
  .catalogue__title {
    left: 33px;
  }
  .aside {
    padding-top: 46px;
  }
  .catalogue__content {
    padding-top: 32px;
  }
  .catalog-swiper-wrapper {
    padding-top: 0;
  }
  .catalog-swiper {
    height: 1391px;
  }
}
@media (max-width: 768px) {
  .catalogue {
    margin-bottom: 68px;
  }
  .catalogue__title {
    top: 67px;
    left: 72px;
  }
  .catalog-swiper {
    width: 648px;
    height: 1440px;
  }
  .catalogue__content {
    padding-top: 30px;
    width: 628px;
  }
  .catalog-swiper-wrapper {
    padding-top: 0;
  }
}
@media (max-width: 499px) {
  .breadcrumbs {
    display: none;
  }
  .catalogue__title {
    top: 32px;
    left: 12px;
  }
  .catalogue__content {
    padding-top: 35px;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(3, 278px);
    grid-gap: 16px;
  }
  .catalogue__item {
    flex-direction: column;
    padding: 18px 16px 16px 16px;
    width: 108px;
    height: 244px;
    border-radius: 10px;
  }
  .catalog-swiper {
    width: 296px;
    height: 930px;
  }
  .catalog-swiper-slide {
    width: 136px !important;
    height: 278px !important;
    margin-right: 15px;
    margin-bottom: 16px;
  }
  .catalogue__paginate {
    padding-top: 15px;
  }
}/*# sourceMappingURL=catalogue.css.map */