@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), url("fonts/OpenSansRegular.woff2"), url("fonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), url("fonts/OpenSansSemiBold.woff2"), url("fonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), url("fonts/OpenSansBold.woff2"), url("fonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), url("fonts/PlayfairDisplayBlack.woff2"), url("fonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.filter__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
}

.filter__title-2 {
  display: none;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
}

.custom-box:focus, .filter__slider:focus {
  outline: 1px solid #A65CF0;
}

.filter__slider {
  height: 104px;
}

.slider-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #666666;
}

.slider-text {
  margin-right: 6px;
  font-size: 16px;
  line-height: 130%;
  color: #666666;
}

.filter-price-from {
  width: 69px;
  height: 26px;
  margin-right: 64px;
  margin-bottom: 9px;
}

.filter-price-to {
  width: 70px;
  height: 26px;
}

.filter-price-to, .filter-price-from {
  padding-left: 10px;
  border: none;
  outline: 1px solid #999999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}
.filter-price-to::-moz-selection, .filter-price-from::-moz-selection {
  background: transparent;
}
.filter-price-to::selection, .filter-price-from::selection {
  background: transparent;
}
.filter-price-to:focus, .filter-price-from:focus {
  border: none;
  outline: 1px solid #A65CF0;
  background-color: #EBD1FF;
}
.filter-price-to:hover, .filter-price-from:hover {
  border: none;
  outline: 1px solid #A65CF0;
}
.filter-price-to:active, .filter-price-from:active {
  background-color: #FFFFFF;
  outline: 1px solid #7033AC;
}

.progress-bar {
  cursor: pointer;
}

.checkbox-descr {
  display: none;
}

@media (max-width: 1024px) {
  .filter {
    display: flex;
    padding-top: 10px;
    width: 952px;
    height: 30px;
    margin-bottom: 0;
  }
  .filter__title {
    display: none;
    margin-right: 57px;
  }
  .filter__title-2 {
    display: block;
    padding-top: 10px;
    margin-bottom: 0;
  }
  .checkbox-title {
    position: absolute;
    width: 166px;
    margin-right: 53px;
    background-image: url("img/arrow-down.svg");
    background-position: 146px center;
    background-repeat: no-repeat;
  }
  .checkbox-title--active {
    background-image: url("img/arrow-up.svg");
  }
  .custom-box, .filter__slider {
    width: 163px;
    height: 20px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-right: 30px;
  }
  .custom-box:focus, .filter__slider:focus {
    outline: none;
    border: 2px solid #A65CF0;
  }
  .custom-box:hover, .filter__slider:hover {
    border: 2px solid #A65CF0;
  }
  .checkbox-list {
    display: none;
    visibility: hidden;
    position: absolute;
    padding: 10px;
    width: 170px;
    border-radius: 0 0 10px 10px;
    background-color: #FFFFFF;
    z-index: 50;
  }
  .chekbox-category-list {
    top: 170px;
    left: 154px;
  }
  .chekbox-category-list--active {
    display: block;
    visibility: visible;
  }
  .checkbox-price-list {
    flex-wrap: wrap;
    align-items: center;
    top: 172px;
    left: 364px;
    width: 170px;
    height: 100px;
  }
  .checkbox-price-list--active {
    display: flex;
    visibility: visible;
  }
  .progress-bar {
    display: none;
  }
  .filter-price-from {
    margin-right: 25px;
  }
  .slider-text {
    margin-right: 16px;
  }
  .checkbox-discount-list {
    top: 171px;
    right: 260px;
  }
  .checkbox-discount-list--active {
    display: block;
    visibility: visible;
  }
  .checkbox-color-list {
    top: 175px;
    right: 51px;
  }
  .checkbox-color-list--active {
    display: block;
    visibility: visible;
  }
  .checkbox-descr {
    display: block;
    font-size: 16px;
    line-height: 130%;
    color: #A65CF0;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .filter {
    width: 500px;
    height: 130px;
    display: grid;
    grid-template-columns: repeat(2, 187px);
    grid-template-rows: 11px repeat(2, 25px);
    grid-gap: 32px;
  }
  .filter__title-2 {
    grid-column: 1/3;
    padding-top: 0;
    margin-bottom: 23px;
  }
  .checkbox-title {
    margin-left: 15px;
  }
  .custom-box, .filter__slider {
    width: 177px;
  }
  .chekbox-category-list {
    top: 214px;
    left: 72px;
  }
  .checkbox-price-list {
    top: 214px;
    left: 298px;
  }
  .checkbox-discount-list {
    top: 270px;
    right: 504px;
  }
  .checkbox-color-list {
    top: 270px;
    right: 285px;
  }
}
@media (max-width: 499px) {
  .filter {
    width: 296px;
    height: 130px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 31px repeat(2, 40px);
    grid-gap: 16px;
  }
  .filter__title-2 {
    grid-column: 1/3;
    padding-top: 3px;
  }
  .checkbox-title {
    width: 117px;
    background-position: 97px center;
  }
  .custom-box, .filter__slider {
    width: 134px;
  }
  .checkbox-list {
    padding: 15px;
    width: 130px;
  }
  .chekbox-category-list {
    top: 169px;
    left: 15px;
  }
  .checkbox-price-list {
    top: 169px;
    left: 164px;
  }
  .filter-price-from {
    margin-right: 10px;
  }
  .checkbox-discount-list {
    top: 225px;
    right: 142px;
  }
  .checkbox-color-list {
    top: 225px;
    right: 0;
  }
}/*# sourceMappingURL=filter.css.map */