@import '../_variables.scss';
@import '../fonts.scss';
// feedback section 
.feedback {
	width: 1280px;
	margin-bottom: $gutter-main;
}
.feedback-content {
	position: relative;
	width: 624px;
	height: 432px;
	margin-right: $gutter-second;
}
.feedback-title  {
	margin-bottom: 10px;
}
.feedback-descr {
	margin-bottom: 14px;
	font-size: $text-descr;
	line-height: 19px;
	color: $color-gray-shade;
}
// tool-tip
.marker {
	position: absolute;
	top: 64px;	
	right: 93px;
	width: 15px;
	height: 15px;
	background-image: url("../../img/tooltip.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		background-image: url("../../img/tooltip-hover.svg");
	}
	&:focus .tool-tip {
		display: block;
	}
	&:hover {
		background-image: url("../../img/tooltip-hover.svg");
	}
	&:hover .tool-tip {
		display: block;
	}
}
.tool-tip {
	display: none;
	position: absolute;
	top: -75px;
	right: -71px;
	padding: 5px;
	width: 157px;
	height: 52px;
	background-color: $color-black;
	text-align: center;
	font-size: calc($new-price / 2);
	line-height: 14px;
	color: $color-white;
}
.tooltip-arrow {
	position: absolute;
	top: 56px;
	left: 50%;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	background-color: $color-black;
}
// feedback form
.feedback-form {
	flex-direction: column;
	justify-content: space-between;
}
.form-name, .form-tel, .form-email {
		margin-bottom: 26px;
		padding-left: 20px;
		width: auto;
		height: $sub-hight;
		outline: none;
		border: none;
		border-radius: 10px;
		line-height: 40px;
		color: $color-grey;
		&:focus {
			border: 2px solid $color-primary;
		}
		&:hover {
			background-color: $color-md-grey;
		}
}
.form-btn {
	align-self: flex-start;
	margin-bottom: 7px;
	padding: 19px 38px;
}
.form-check {
	margin-right: 3px;
	width: 14px;
	height: 14px;
	font-size: $text-descr;
	line-height: 19px;
	color: $color-black;
}

.feedback-image {
	padding-top: 25px;
	width: 624px;
	height: 383px;
}

@media (max-width: 1024px) {
	.feedback {
		width: 1024px;
	}
	.feedback-content {
    width: 494px;
	}
	.feedback-image {
		padding-top: 76px;

	}
	.form-btn {
		height: 58px;
	}
	.marker {
		top: 102px;
		right: 320px;
	}
}

@media (max-width: 768px) {
	.feedback-content {
    width: 405px;
	}
	.feedback-image {
		padding-top: 5px;
		width: 187px;
		height: 444px;
	}
	.form-btn {
		height: 58px;
	}
	.marker {
		top: 102px;
		right: 320px;
	}
}

@media (max-width: 499px) {
	.feedback {
		margin-bottom: 115px;
	}
	.feedback-image {
	display: none;
	}
	.feedback-content {
    width: 320px;
		margin-right: 0;
	}
	.feedback-checkbox .user-private {
		font-size: calc($subtitle / 2);
		line-height: 14px;
	}
	.feedback-checkbox::before {
		width: 	12px;
		height: 12px;
		top: 3px;
		
	}
	.marker {
		top: 112px;
		right: 131px;
	}
}