@import '../_variables.scss';
@import '../fonts.scss';
// hero section 
.hero {
	padding-top: 32px;
	min-width: 100%;
	width: 1280px;
}
.main-swiper {
	width: 100%;
  height: 400px;
  z-index: 0;
	margin-bottom: $gutter-main;
}
.swiper-pagination-bullet {
	width: 14px !important;
  height: 14px !important;
  margin: 0 8px 10px !important;
  background: $color-modal-bcground;
}

.swiper-pagination-bullet-active {
	background-color: $color-black;
}
.hero-slide {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide-1 {
	background-image: url("../img/main-slide-1-1920px.webp");
}
.slide-2 {
	background-image: url("../img/main-slide-2-1920px.webp");
}
.slide-3 {
	background-image: url("../img/main-slide-3-1920px.webp");
}

.hero-swiper-content {
	padding-top: 80px;
}
.hero-swiper-title {
	width: 540px;
	font-weight: $bold;
	font-size: $text-offer;
	line-height: 65px;
	color: $color-grey;
}
.title-slide-3 {
	color: $color-white;
}
.hero__btn-container {
	position: relative;
}
.hero-swiper-btn {
	width: 187px;
	position: absolute;
	left: 0;
	top: -209px;
}

@media (max-width: 1024px) {
	.hero {
		width: 1024px;
	}
	.slide-1 {
		background-image: url("../img/main-slide-1-1024px.webp");
	}
	.slide-2 {
		background-image: url("../img/main-slide-2-1024px.webp");
	}
	.slide-3 {
		background-image: url("../img/main-slide-3-1024px.webp");
	}
	.hero-swiper-btn {
		left: 36px;
	}
}
@media (max-width: 768px) {
	.hero {
		width: 768px;
	}
	.slide-1 {
		background-image: url("../img/main-slide-1-768px.webp");
	}
	.slide-2 {
		background-image: url("../img/main-slide-2-768px.webp");
	}
	.slide-3 {
		background-image: url("../img/main-slide-3-768px.webp");
	}
	.hero-swiper-btn {
    left: 73px;
	}
}
@media (max-width: 499px) {
	.hero {
		padding-top: 0;
		width: 298px;
	}
	.main-swiper {
		height: 242px;
		margin-bottom: 162px;
	}
	.swiper-pagination-bullet {
		width: 6px !important;
		height: 6px !important;
		margin: 0 4px -3px !important;
		background: $color-modal-bcground !important;
	}
	.hero-swiper-content {
		width: 278px;
		padding-top: 62px;
		padding-left: 30px;
		padding-bottom: 0;
	}
	.hero-swiper-title {
		width: 204px;
		font-size: $text-offer-320;
		line-height: 27px;
	}
	.slide-1 {
		background-image: url("../img/main-slide-1-320px.webp");
	}
	.slide-2 {
		background-image: url("../img/main-slide-2-320px.webp");
	}
	.slide-3 {
		background-image: url("../img/main-slide-3-320px.webp");
	}
	.hero-swiper-btn {
		position: absolute;
		left: 4%;
		top: -130px;
		width: 296px;
	}
}