@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), url("../fonts/OpenSansRegular.woff2"), url("../fonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), url("../fonts/OpenSansSemiBold.woff2"), url("../fonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), url("../fonts/OpenSansBold.woff2"), url("../fonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), url("../fonts/PlayfairDisplayBlack.woff2"), url("../fonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.hight-rating {
  width: 1280px;
  flex-direction: column;
  margin-bottom: 70px;
}

.hirate-tatle {
  margin-bottom: 26px;
}

.hirate-content {
  grid-template-columns: repeat(4, 296px);
  grid-auto-rows: 420px;
  grid-gap: 32px;
  margin-bottom: 32px;
}

.hirate-btn {
  align-self: center;
  padding: 20px 44px;
}

.product-1, .product-5, .product-9, .product-13, .product-17 {
  grid-column: 1/2;
}

.product-2, .product-6, .product-10, .product-14, .product-18 {
  grid-column: 2/3;
}

.product-3, .product-7, .product-11, .product-15 {
  grid-column: 3/4;
}

.product-4, .product-8, .product-12, .product-16 {
  grid-column: 4/5;
}

@media (max-width: 1024px) {
  .hirate-content {
    grid-template-columns: repeat(3, 296px);
    grid-auto-rows: 420px;
    grid-gap: 32px;
    margin-bottom: 32px;
  }
  .product-1, .product-4, .product-7, .product-10, .product-13, .product-16 {
    grid-column: 1/2;
  }
  .product-2, .product-5, .product-8, .product-11, .product-14, .product-17 {
    grid-column: 2/3;
  }
  .product-3, .product-6, .product-9, .product-12, .product-15, .product-18 {
    grid-column: 3/4;
  }
}
@media (max-width: 768px) {
  .hirate-content {
    grid-template-columns: repeat(2, 296px);
    grid-auto-rows: 420px;
    grid-gap: 32px;
    margin-bottom: 32px;
  }
  .product-1, .product-3, .product-5, .product-7, .product-9, .product-11, .product-13, .product-15, .product-17 {
    grid-column: 1/2;
  }
  .product-2, .product-4, .product-6, .product-8, .product-10, .product-12, .product-14, .product-16, .product-18 {
    grid-column: 2/3;
  }
}
@media (max-width: 499px) {
  .hirate-content {
    grid-template-columns: repeat(2, 140px);
    grid-auto-rows: 278px;
    grid-gap: 16px;
    margin-bottom: 32px;
  }
  .product-1, .product-3, .product-5, .product-7, .product-9, .product-11, .product-13, .product-15, .product-17 {
    grid-column: 1/2;
  }
  .product-2, .product-4, .product-6, .product-8, .product-10, .product-12, .product-14, .product-16, .product-18 {
    grid-column: 2/3;
  }
  .hirate-btn {
    width: 296px;
    padding: 20px 30px;
  }
}/*# sourceMappingURL=hight-rating.css.map */