@import '../_variables.scss';
@import '../_fonts.scss';
// new-collection section
.new-collection {
	min-width: 1280px;
	height: 600px;
	background-image: url("../img/new-collection-1920px.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: $gutter-main;
}
.new-collection-content {
	min-width: 1280px;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	padding-top: 154px;
	padding-bottom: 130px;
	height: 296px;
}
.collection-title {
	font-family: "PlayfairDisplayBlack";
	font-weight: $black;
	font-size: $exclusive;
	line-height: 72px;
	color: $color-gold;
}
.collection-descr {
	margin-bottom: auto;
	width: 460px;
	font-size: $exclusive-descr;
	line-height: 58px;
	color: $color-white;
}
.collectin-btn {
	padding: 22px 38px;
	align-self: flex-start;
}

@media (max-width: 1024px) {
	.new-collection {
		min-width: 1024px;
		height: 600px;
		background-image: url("../img/new-collection-1024px.webp");
	}
	.new-collection-content {
		min-width: 948px;
		padding-left: 36px;
	}
}
@media (max-width: 768px) {
	.new-collection {
		min-width: 768px;
		padding-left: -36px;
		background-image: url("../img/new-collection-768px.webp");
	}
	.new-collection-content {
		min-width: 660px;
	}
}
@media (max-width: 499px) {
	.new-collection {
		position: relative;
		min-width: 296px;
		height: 210px;
		background-image: url("../img/new-collection-320px.webp");
		margin-bottom: 163px;
	}
	.new-collection-content {
		flex-direction: column;
		min-width: 280px;
		width: auto;
		height: 68px;
		margin: 0;
		padding-top: 33px;
		padding-bottom: 0px;
		padding-left: 12px;
	}
	.collection-title {
		font-size: $subtitle;
		line-height: 29px;
	}
	.collection-descr {
		width: 200px;
		font-size: $main-size;
		line-height: 120%;
	}
	.collectin-btn {
		width: 94%;
		position: absolute;
		top: 243px;
		left: 3%;
	}
}