@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), urfonts/OpenSansRegular.woff2"), urfonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), urfonts/OpenSansSemiBold.woff2"), urfonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), urfonts/OpenSansBold.woff2"), urfonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), urfonts/PlayfairDisplayBlack.woff2"), urfonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.offers {
  width: 1280px;
  margin-bottom: 70px;
}

.offers-title {
  padding-bottom: 26px;
}

.offer-next-btn, .offer-prev-btn {
  top: 22px;
  transition: background-image 0.3s ease-in-out;
}
.offer-next-btn:focus, .offer-prev-btn:focus {
  outline: none;
  border: none;
  background-image: url("img/arrow-next-focus.svg");
}
.offer-next-btn:hover, .offer-prev-btn:hover {
  background-image: url("img/arrow-next-hover.svg");
}
.offer-next-btn:active, .offer-prev-btn:active {
  background-image: url("img/arrow-next-active.svg");
}
.offer-next-btn:disabled, .offer-prev-btn:disabled {
  outline: none;
  border: none;
  background-image: url("img/arrow-next-disabled.svg");
}

.offer-next-btn {
  right: 0;
}

.offer-prev-btn {
  transform: rotate(180deg);
  left: 94%;
}

.offer-swiper {
  height: 569px;
}

.offer-slide {
  width: 100%;
}

.offer-slide-small {
  width: 296px;
}

.offer-slide-big {
  width: 625px;
}

.product-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  width: 236px;
  height: 511px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.product-offer:hover {
  box-shadow: 1px 1px #999999;
}

.offer-product-link:focus {
  border-right: 2px solid #A65CF0;
  scale: none;
}

.offer-big {
  width: 564px;
}

.discount {
  position: absolute;
  top: 30px;
  left: 0;
}

.discount-icon {
  width: 92px;
  height: 34px;
}

.discount-count {
  position: absolute;
  top: 7px;
  left: 19px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.count-2 {
  left: 15px;
}

.count-3 {
  left: 26px;
}

.offer-image {
  margin-bottom: 16px;
  padding-top: 42px;
  align-self: center;
}

.image-1 {
  padding-top: 6px;
  width: 460px;
  height: 245px;
}

.image-2 {
  padding-top: 6px;
  width: 515px;
  height: 245px;
}

.image-3 {
  padding-top: 34px;
}

.offer-title {
  margin-bottom: 22px;
}

.title-2 {
  width: 200px;
}

.title-3 {
  margin-right: 13px;
}

.price {
  width: 100%;
  margin-bottom: 21px;
}

.offer-price-new {
  margin-right: 31px;
  font-size: 18px;
  line-height: 130%;
  color: #FF862F;
}

.offer-price {
  padding-top: 2px;
  text-decoration: line-through;
  line-height: 130%;
  color: #999999;
}

.offer-btn {
  align-self: flex-start;
}

.product-semple {
  width: 235px;
  height: 107px;
}

.semple-1 {
  position: absolute;
  bottom: 90px;
  right: 27px;
}

@media (max-width: 1024px) {
  .ofers {
    width: 1024px;
  }
  .offer-prev-btn {
    left: 92%;
  }
  .offer-big {
    padding: 0;
    width: 296px;
  }
  .offer-slide-big {
    width: 296px;
  }
  .image-1 {
    padding-top: 113px;
    width: 257px;
    height: 136px;
    margin-bottom: 49px;
  }
  .image-2 {
    margin-bottom: 55px;
    padding-top: 107px;
    width: 286px;
    height: 136px;
  }
  .title-2 {
    padding-left: 30px;
  }
  .price-2 {
    padding-left: 30px;
  }
  .offer-btn-2 {
    margin-left: 30px;
  }
  .product-semple {
    display: none;
  }
}
@media (max-width: 768px) {
  .ofers {
    width: 768px;
  }
  .offer-prev-btn {
    left: 88%;
  }
}
@media (max-width: 499px) {
  .ofers {
    width: 296px;
  }
  .offer-swiper {
    height: 633px;
  }
  .offers-title {
    padding-bottom: 26px;
  }
  .offer-next-btn, .offer-prev-btn {
    top: 623px;
  }
  .offer-next-btn {
    right: 37%;
  }
  .offer-prev-btn {
    left: 37%;
  }
}/*# sourceMappingURL=offers.css.map */