@font-face {
  font-family: "OpenSansRegular";
  src: local(OpenSansRegular), local(OpenSans-Regular), url("fonts/OpenSansRegular.woff2"), url("fonts/OpenSansRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: local(OpenSansSemiBold), local(OpenSans-SemiBold), url("fonts/OpenSansSemiBold.woff2"), url("fonts/OpenSansSemiBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), local("OpenSans-Bold"), url("fonts/OpenSansBold.woff2"), url("fonts/OpenSansBold.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: local(PlayfairDisplayBlack), local(PlayfairDisplay-Black), url("fonts/PlayfairDisplayBlack.woff2"), url("fonts/PlayfairDisplayBlack.woff");
  font-size: normal;
  font-display: swap;
  font-weight: 900;
}
.useful {
  width: 1280px;
  margin-bottom: 70px;
}

.useful-title {
  width: 50%;
  margin-bottom: 26px;
}

.useful-card {
  flex-direction: column;
  width: 624px;
  height: 676px;
  border-radius: 10px;
}

.useful-image {
  margin-bottom: 14px;
}

.useful-card-title {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: auto;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.useful-btn {
  width: 128px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.useful-next-btn, .useful-prev-btn {
  top: 22px;
  transition: background-image 0.3s ease-in-out;
}
.useful-next-btn:focus, .useful-prev-btn:focus {
  outline: none;
  border: none;
  background-image: url("img/arrow-next-focus.svg");
}
.useful-next-btn:hover, .useful-prev-btn:hover {
  background-image: url("img/arrow-next-hover.svg");
}
.useful-next-btn:active, .useful-prev-btn:active {
  background-image: url("img/arrow-next-active.svg");
}
.useful-next-btn:disabled, .useful-prev-btn:disabled {
  outline: none;
  border: none;
  background-image: url("img/arrow-next-disabled.svg");
}

.useful-next-btn {
  right: 0;
}

.useful-prev-btn {
  transform: rotate(180deg);
  left: 94%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: none;
  font-size: 0;
  text-transform: none;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 0;
}

@media (max-width: 1024px) {
  .useful {
    width: 1024px;
  }
  .useful-prev-btn {
    left: 92%;
  }
  .useful-card {
    width: 296px;
    height: 456px;
  }
  .useful-image {
    margin-bottom: 13px;
  }
  .useful-card-title {
    padding-right: 38px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .useful {
    width: 768px;
  }
  .useful-prev-btn {
    left: 87%;
  }
}
@media (max-width: 499px) {
  .useful {
    margin-bottom: 62px;
  }
  .useful-swiper {
    height: 562px;
  }
  .useful-next-btn, .useful-prev-btn {
    top: 544px;
  }
  .useful-next-btn {
    right: 37%;
  }
  .useful-prev-btn {
    left: 37%;
  }
}/*# sourceMappingURL=useful.css.map */